@import url('https://fonts.googleapis.com/css?family=Caveat|Roboto:300&display=swap');

h1,h2,h3,h4,h5,h6,p{
  font-family: 'Roboto', sans-serif;
}

li>a{
  font-family: 'Caveat', cursive;
}

p{
  letter-spacing: 0.5px;
  line-height: 180%;
}
*{
  margin: 0;
  border: 0;
  list-style-type: none;
}