.imagesContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;    
    padding: 22px;
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    canvas{
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.3; 
    }
    height: 100%;
    .imageBox{
        flex: 0 0 100%;
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        overflow: hidden;
        .left{
            flex:0 0 50%;
            padding: 0 22px;
            box-sizing: border-box;
            .imageContainer{
                box-sizing: border-box;
                padding: 22px;
                border: 1px solid black;
                border-width: 10px;
                background-color: white;
                mix-blend-mode: exclusion;
                .image{
                    display: block;
                    margin: auto auto;
                    overflow: hidden;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;                    
                    &:after{
                        content: "";
                        display: block;
                        padding-bottom: 100%;
                    }
                }
                .videoContainer{
                    position: relative;
                    overflow: hidden;
                    padding-top: 56.25%;
                    .video{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                    }
                }
                
            }            
        }
        .right{
            margin: 0 auto;
            flex:0 0 50%;
            max-width: 600px;
            padding: 0 22px;
            box-sizing: border-box;
            .itemTitle{
                text-align: center;
                padding: 10px;
                font-size: 20px;
                color: black;
                font-weight: bold;
            }
            .itemDate{
                text-align: center;
                padding: 10px;
                font-size: 16px;
                color: black;
                font-weight: bold;
            }
            .itemExplanation{
                padding: 10px;
                font-size: 16px;
                color: black;
                font-weight: bold;
            }
            .imageLink{ 
                width: 300px;
                margin-left: 50%;
                transform: translateX(-50%);
                margin-top: 20px;
                padding: 20px;
                border: 2px solid black;
                text-align: center;
                text-transform: uppercase;
                position: relative;
                overflow:hidden;
                transition: .3s;
                display: block;
                text-decoration: none;
                font-family: 'Caveat', cursive;
                color: black;
                font-size: 20px;
                mix-blend-mode: exclusion;
                &:after {
                    content: '';
                    position: absolute;
                    transition: 0.3s;
                    width: 0;
                    bottom: 0;
                    height: 3px;
                    background: black;
                    height: 120%;
                    left: -10%;
                    transform: skewX(15deg);
                    z-index: -1;
                    mix-blend-mode: exclusion;
                }
                &:hover{
                    color: white;
                    &:after{
                        width: 130%;
                        left: -15%;
                    }
                }
            }
        }
    }
}